.container {
  padding: 20px;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  width: 400px;
  height: max-content;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card-content {
  padding: 16px;
  background-color: white;
}

.card-title {
  font-size: 18px;
  margin: 0 0 8px;
  transition: 0.5s;
  text-align: center;
}

.card-description {
  font-size: 14px;
  color: #555;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
}

.buy-now-button {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 20px;
  transition: opacity 1s ease, bottom 0.3s ease;
}

.card:hover .buy-now-button {
  display: block;
  opacity: 1;
  bottom: 30px;
}
.card:hover .card-description {
  opacity: 0;
}
.card__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.card__title h2 {
  font-size: 2rem;
  font-weight: 600;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 10px;
  height: 50px;
}
.tabs a:hover {
  border-bottom: 3px solid #000;
}
